{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	{{ todo.title }}
{% endblock %}

{% block content %}
	<br><br>
	<h3>Todo</h3><br>
	{% if todo %}
		<h4>{{ todo.title }}</h4>
		<b>priority : {{ todo.priority }}</b>
		<p>{{ todo.description|linebreaks }}</p>
		<img src="{% if todo.photo %}{{ todo.photo.url }}{% endif %}" width="250" height="250"><br><br>
		<a style="color:red;" href="{% url "todo:delete" todo.pk %}">delete?</a><br>
	{% else %}
		<p>There's something wrong!</p>
	{% endif %}
	<a href="{% url "todo:home" %}">go back home?</a><hr>
{% endblock %}